.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.container {
  //background-color: azure;
  padding: 10px;
}

.inputControlWrapper {
  text-align: center;
}

.inputControl {
  width: 22rem;
  text-align: center;

  font-size: 2rem;
  border-radius: 1rem;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 2rem 0 0;

  width: 23rem;
}

.btn {
  margin: 5px;
  width: 7rem;
  height: 5rem;

  font-size: 2rem;
}
